rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{id} {
      allow read: if true;
      allow create: if request.resource.data.score is number
                   && request.resource.data.name is string
                   && request.resource.data.name.size() <= 10;
    }
  }
}
